* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f1117;
  color: white;
}

.app {
  min-height: 100vh;
}

.navbar {
  width: 100%;
  height: 80px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #151922;
  border-bottom: 1px solid #242a38;
}

.navbar h1 {
  color: #ff2d2d;
  font-size: 30px;
}

.navbar nav {
  display: flex;
  gap: 30px;
}

.navbar nav a {
  color: #cfcfcf;
  text-decoration: none;
  transition: .3s;
}

.navbar nav a:hover {
  color: #ff2d2d;
}

.navbar button {
  background: #ff2d2d;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.hero {
  max-width: 1300px;
  margin: auto;
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 50px;
  align-items: center;
}

.badge {
  display: inline-block;
  background: rgba(255,45,45,.15);
  color: #ff4b4b;
  padding: 8px 16px;
  border-radius: 999px;
  margin-bottom: 20px;
  font-size: 14px;
}

.hero h2 {
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero h2 span {
  color: #ff2d2d;
}

.hero p {
  color: #bcbcbc;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.primary,
.secondary {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.primary {
  background: #ff2d2d;
  color: white;
  border: none;
}

.secondary {
  background: transparent;
  color: white;
  border: 1px solid #555;
}

.hero-card {
  background: #171b25;
  border: 1px solid #2a3040;
  border-radius: 20px;
  padding: 30px;
}

.hero-card h3 {
  margin-bottom: 25px;
  color: #ff2d2d;
}

.card-item {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  border-bottom: 1px solid #2c3343;
}

.card-item:last-child {
  border-bottom: none;
}

.card-item strong {
  color: #ff2d2d;
}